h1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

#hey{
    text-align: center;
    size: 5px;
    font-family: 'Inconsolata', monospace;
}


.about-me{
    text-align: justify;
}

/* this is a comment */
/* if you see p.about-me{}, that means it must be a "about-me" class which is also a paragraph at the same time */



img{
    width: 100%;
    height: auto;
}

a:link{
    text-decoration: underline;
}
a.whiteHover:hover {
    background-color: white; 
    color: black;
    text-decoration: none;
}

a.whiteHover{
    text-align: center;
}

a:visited{
    color: black;
}

ul{
    list-style-type: square;
}

table,th,td{
    border: 1px solid black;
    
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

th,td{
    padding: 5px;
}

th{
    background-color: rgb(153, 175, 187);
}


.topIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: static;
    width: 10%;
  } 

header{
    background-color: white;
    position: sticky;
    top: 0;
}



a.tummyDance{
    display: block;
    text-align: center;
    text-decoration: underline;
    color: black;
}

a:hover.tummyDance{
    text-decoration: none;
    background-color: white;
    color: black;
}

.belowPic{
    margin: 2cm;
}

footer{
    text-align: center;
    background-color: rgb(98, 115, 125);
    height: 40px;
    color: rgb(255, 255, 255);
}

.flexbox-container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.flexbox-item{
    width: 400px;
    margin:10px;
    border:3px solid #333;
    align-items: stretch;
}

.flexbox-item-text{
    width: 300px;
    margin:0px;
    border:3px solid rgb(255, 255, 255);
    align-items: stretch;
}

.flexbox-item1{
    min-height: 300px;
    flex-shrink: 0;
}

.flexbox-item2{
    min-height: 300px;
    flex-shrink: 0;
}

.flexbox-item3{
    min-height: 300px;
    flex-shrink: 0;
}
