h1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

#hey{
    text-align: center;
    size: 5px;
    font-family: 'Inconsolata', monospace;
}


.about-me{
    text-align: justify;
}

/* this is a comment */
/* if you see p.about-me{}, that means it must be a "about-me" class which is also a paragraph at the same time */

.box{
  width: 300px;
  height: 200px;
  border: 15px solid rgb(246, 246, 24);
  padding: 50px;
  margin: 20px;
}

img{
    width: 100%;
    height: auto;
}

a:link{
    text-decoration: none;
}
a:hover {
    background-color: darkslategrey; color: white;
}

ul{
    list-style-type: square;
}

table,th,td{
    border: 1px solid black;
    
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

th,td{
    padding: 5px;
}

th{
    background-color: rgb(255, 251, 202);
}


.topIcon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: auto;
}


a.tummyDance{
    display: block;
    text-align: center;
    text-decoration: underline;
    color: black;
}

a:hover.tummyDance{
    text-decoration: none;
    background-color: white;
    color: black;
}